version: "3.9"
services:
  mono:
   image: mono:latest
   container_name: mono_1
   ports:
    - "8080:8080"
   volumes:
    - ./:/code
   stdin_open: true
   tty: true
  mono2:
   image: mono:latest
   container_name: mono_2
   ports:
    - "8081:8080"
   volumes:
    - ./:/code
   stdin_open: true
   tty: true